@(message: String)
@main("sales manager") {

    @if(message != null){
        @message
    }

    <h1>Registro de usuario</h1>
    <form action="@routes.Application.authenticate()" method="post">
        <fieldset>
            <div class="container">
                <table>
                    <tr>
                        <th>
                            <label><p>Nombre de usuario</p></label>
                        </th>
                        <th>
                            <input type="text" placeholder="Digita tu nombre de usuario" name="userName" required>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label><p>Contraseña</p></label>
                        </th>
                        <th>
                            <input type="password" placeholder="Digita la contraseña" name="pass" required>
                        </th>
                    </tr>
                </table>
                <button type="submit" style="background-color: #4CAF50; color: white; padding: 15px 32px;text-align: center; font-size: 16px">Login</button>
            </div>
        </fieldset>
    </form>
}
